.add-user-form {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  justify-content: space-between;
  gap: 50px;
}

.form-row > div {
  flex: 1;
  margin-right: 10px;
}

.form-row > div:last-child {
  margin-right: 0;
}

.form-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
  gap: 20px;
}

button.btn-cancel {
  background-color: var(--white);
  color: var(--primary-color);
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
  margin-left: 10px;
  border: 1px solid var(--primary-color);
  width: 20%;
}

button.btn-submit {
  width: 20%;
}

.btn-submit:hover {
  background-color: var(--primary-color);
}

.btn-cancel:hover {
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--primary-color);
  font-weight: 400;
}

.custom-input {
  width: 100%;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
}

.custom-input::placeholder {
  color: var(--placeholder-color);
}

.error-message {
  color: #F86060;
  font-size: 14px;
}
