.homepage {
  display: flex;
}

.allcontent {
  flex: 1;
}

.content {
  padding: 20px;
}

.paint-list {
  margin-top: 20px;
}

.containingbutton {
  text-align: end;
}

.button-link {
  text-decoration: none;
}

.button {
  padding: 10px 20px;
  background-color: var(--primary-color);
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.button:hover {
  background-color: var(--focus-color);
}

.paint-card {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
}

.paint-info {
  flex: 1;
  padding-right: 20px;
}

.paint-info h3 {
  margin: 0;
}

.paint-image {
  flex: 1;
}

.paint-image img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
}

.paint-actions {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.modify-button {
  padding: 8px;
  background-color: #007bff;
  color: var(--white);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.modify-button:hover {
  background-color: #0056b3;
}
