.paint-card {
  display: flex;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  align-items: center;
  color: var(--primary-color);
  background-color: var(--white);
  position: relative;
}

.paint-info {
  flex: 2;
  padding-right: 20px;
}

.paint-info h3 {
  margin: 0;
}

.paint-number-image {
  flex: 1;
}

.paint-image {
  flex: 1;
}

.paint-image img {
  width: 180px !important;
  height: 180px !important;
  object-fit: cover;
  border-radius: 8px;
}

.modif-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  top: 0;
  bottom: 0;
  position: absolute;
  right: 0;
  padding: 10px;
}

.user-actions {
  margin-bottom: auto;
}

.price {
  margin-top: auto;
}

.price p {
  margin: 0;
  font-size: 1.2em;
  font-weight: bold;
}

.edit-button {
  background: none;
  border: none;
  font-size: 1.2em;
  color: #717171;
  cursor: pointer;
}

.edit-button:hover {
  background: none;
  color: var(--primary-color);
}

.bold {
  font-weight: bold;
}

.image-count {
  display: inline-block;
  padding: 3px 8px;
  background-color: var(--third-color);
  border-radius: 12px;
  font-size: 0.9em;
  color: #3a3a3a;
}

.price span {
  color: var(--fourth-color);
}

.Delete {
  background: none;
  color: #717171;
  padding: 0;
}

.Delete:hover {
  background: none;
  color: var(--primary-color);
}